################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/InstitutionService/bin/Debug/netcoreapp3.1
/InstitutionService/obj
